<nav class="sidebar">
    <ul>
      <li><a routerLink="/dashboard">🏠 Dashboard</a></li>
      <li><a routerLink="/appointments">📅 Rendez-vous</a></li>
      <li><a routerLink="/doctors-planning">👨‍⚕️ Planning médecins</a></li>
      <li><a routerLink="/medical-record">👥 Dossiers patients</a></li>
      <li><a routerLink="/bills">🧾 Paiements</a></li>
      <li><a routerLink="/reminders">📨 Rappels</a></li>
      <li><a routerLink="/profile">⚙️ Profil</a></li>
      <li><a (click)="logout()">🚪 Déconnexion</a></li>
    </ul>
  </nav>
  